html {
      position: relative;
      min-height:100%;
}
      
body{
      min-height: 900px;
      /*padding-top: 10px;*/
      margin-bottom: 40px;
}

.basicFontStyle {
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
}

.main-container {
      height: 100%;
      width: 100%;
      box-sizing: border-box;
      max-width: 800px;
      position: relative;
      margin: auto;
}

img {
      display: block;
      margin: auto;
      max-width: 100%;
      height: auto;
}


/*responsive columns*/
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}


/*.content {
      box-sizing: border-box;
      min-width: 700px;
      max-width: 830px;
      position: relative;
      margin: auto;
}*/

