html,
      body{
            height: 100%;
            width: 100%;
            padding: 0;
            margin: 0;
            font-family: 'Roboto', sans-serif;
            /*font-size: 12px;*/
            margin-left:100px;
            margin-right:100px;
      }
      
      .main-container {
            height: 100%;
            width: 100%;
            /*background-color: #1d539d;
            color: white;*/
            padding-top: 6%;
            box-sizing: border-box;
            overflow-y: auto;
            overflow-x: hidden;
      }

      .image {
            height: 250px;
            padding-bottom: 50px;
            margin: auto;
      }
}

