/*==========================
=      WEBSITE COLOURS     =
============================
=       TEXT COLORS:       =   
=       Grey #959595       =
=                          =
=     BACKGROUND COLORS    =
=       Grey #FAFAFA       =
==========================*/


/*==============*/
/* MAIN CONTENT */
/*==============

html {
      position: relative;
      height:100%;
      width:100%;
}
      
body{
      min-height: 700px;
      position: relative;
      margin: auto;
      margin-bottom: 50px;
}
*/

html, body {
      margin: 0; 
      padding: 0;  
      height: 100%;
      width: 100%;
      overflow-x: hidden;
}

.basicFontStyle {
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
}

.wrapper {
      min-height:100%; 
      position: relative;
}

.wrapper:after {
	content: "";
	display: block;
}

.main-container {
	position: relative;
      	min-height: 100%;
      	max-width: 1000px;
	box-sizing: border-box;
	margin-left: auto; margin-right: auto;
	padding-bottom: 40px;
}

/** Images **/

img {
      display: block;
      margin: auto;
      max-width: 100%;
      height: auto;
      vertical-align: middle;
}

.mobimg {
      display: none;	
}

/** Responsive Columns **/
/* Create two columns that float next to each other */
.column {
      float: left;
      margin: 0;
}

/* Clear floats after the columns */
.row:after {
      content: "";
      display: table;
      clear: both;
}

/* Responsive layout - stacks columns */
@media screen and (max-width: 700px) {
      .main-container { margin: 0; }
	
      .column { width: 100%; }
	
      .left {
	    width: 100%;
	    position: relative;
	    margin-left: auto; margin-right: auto;
      }

      #cont1 { display: none; }
	
      #cont2 { display: none; }
	
      .right2 {
     	    width: 100%;
	    float: none;
	    /*position: relative;
	    margin-left: auto; margin-right: auto;*/
      }
	
      .hello {
	    padding-left: 50px;    
      }
	
      .content1 {
	    padding-left: 50px;
      }
	
      .mobimg {
	    display: block;
	    width: 100%;
	    float: none;
	    position: relative;
	    margin-left:auto; margin-right:auto;
      }
}

/** Column sets **/
/* Hello */
.left {
      width: 45%;
      padding: 12px 24px!important;
}

.right {
      width: 45%;
      padding: 12px 24px!important;
}

.content1 {
      color: #959595;
      padding-left: 50px;
}

.hello {
      padding-left: 50px;    
}

/* Intro */
.left2 {
      width: 45%;
      padding: 12px 24px!important;
}

.right2 {
      width: 45%;
      padding: 12px 24px!important;
}

.content2 {
      color: #959595;
}


/*========*/
/* FOOTER */
/*========*/

.stickyfooter, .wrapper:after {
	height: 40px;	
}

.stickyfooter {
    	position: absolute;
   	width: 100%;
	clear: both;
    	bottom: 0;
	padding: 0;
    	margin: 0;
    	height: 40px; /* REMEMBER height = padding-bottom */
    	background: black;
    	color: white;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}


/* {
  background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important;
}*/
